@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  box-sizing: border-box;
  margin-top: 20px;
  font-family: "Gabarito", sans-serif;
}
.content {
  padding: 0 32px;
}
button {
  cursor: pointer;
}
@media (min-width: 768px) {
  .content {
    padding: 0 44px;
  }
}
@media (min-width: 1024px) {
  .content {
    max-width: 1424px;
    margin: auto;
  }
  .content {
    padding: 0 77px;
  }
}
